@import url("normalize.css");
@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 200;
  src: url(https://d2ue93q3u507c2.cloudfront.net/assets-about/static/DINPro-Light.217be8a3.otf) format("opentype");
}
@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://d2ue93q3u507c2.cloudfront.net/assets-about/static/DINPro-Regular.287d570b.otf) format("opentype");
}
@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 500;
  src: url(https://d2ue93q3u507c2.cloudfront.net/assets-about/static/DINPro-Medium.1735d1dc.otf) format("opentype");
}
@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  src: url(https://d2ue93q3u507c2.cloudfront.net/assets-about/static/DINPro-Bold.f42924e3.otf) format("opentype");
}
@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 900;
  src: url(https://d2ue93q3u507c2.cloudfront.net/assets-about/static/DINPro-Black.2000a4d2.otf) format("opentype");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "DIN Pro", sans-serif;
  font-size: 16px;
  color: #202020;
}

.header-parent {
  height: 72px;
  width: 100%;
  position: fixed;
  background: #ffff;
}
.header-parent .header-robinhood {
  max-width: 1192px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 600;
}
@media (max-width: 767px) {
  .header-parent .header-robinhood {
    height: 50px;
    padding: 0px 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header-parent .header-robinhood {
    padding: 0px 10px;
  }
}
.header-parent .header-robinhood a {
  padding-right: 36px;
  color: #040d14;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.32px;
  line-height: 27px;
}
.header-parent .header-robinhood a:first-child {
  letter-spacing: -0.97px;
  color: currentColor;
  font-size: 20px;
  font-weight: 400;
  margin-left: 5px;
  display: flex;
  padding-right: 48px;
  align-items: center;
  padding-left: 3px;
}
.header-parent .header-robinhood a:nth-child(3) {
  padding-right: 13px;
}
.header-parent .header-robinhood a:nth-child(4) {
  background: #e7f8f3;
  border-radius: 2px;
  color: #21ce99;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  height: 24px;
  letter-spacing: 0.02em;
  line-height: 24px;
  padding-right: 43px;
}
.header-parent .header-robinhood a:nth-child(7) {
  flex: 1;
}
.header-parent .header-robinhood a:nth-child(8) {
  padding-right: 36px;
}
.header-parent .header-robinhood .button {
  background: #21ce99;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  border-radius: 36px;
  font-size: 17px;
  margin-right: -44px;
  width: 107px;
  height: 48px;
  margin-top: -1px;
  align-items: center;
  font-weight: 600;
}

@keyframes enter {
  0%, 20% {
    filter: blur(40px);
    opacity: 0;
    transform: translate(0, 70px);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
.invest {
  max-width: 1192px;
  margin: 0 auto;
  display: flex;
  height: 812px;
  background-color: #ffff;
}
.invest .free-image {
  flex: 1;
  animation: enter 2s ease-in;
  background-image: url("../image/mobile.png");
  background-repeat: no-repeat;
  background-position-x: 90px;
  background-position-y: 72px;
}
.invest .free-info {
  width: 310px;
}
.invest .free-info .invest-free {
  padding-top: 302px;
  color: #040d14;
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 49px;
}
.invest .free-info .invest-info {
  padding-top: 36px;
  font-size: 16px;
  line-height: 26px;
}
.invest .free-info .button-Invest {
  background: #21ce99;
  cursor: pointer;
  color: white;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 36px;
  font-size: 17px;
  font-weight: 600;
  height: 48px;
  width: 107px;
  margin-top: 36px;
}
.invest .mobile-image {
  width: 700px;
  padding-top: 92px;
}

.cash-parent {
  width: 100%;
  height: 366px;
}
.cash-parent .cash-managment-image {
  max-width: 1224px;
  margin: 0 auto;
  background-image: url("../image/cash-managment-image.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 276px;
  background-color: #010101;
}
.cash-parent .cash-managment-image .cash {
  color: #ffffff;
  width: 400px;
  padding-top: 86px;
  padding-left: 32px;
  font-weight: 900;
  font-size: 34px;
  letter-spacing: 0.01em;
  line-height: 36px;
}

.wrapper {
  max-width: 1192px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 450px;
}
.wrapper .wrap-description {
  width: 210px;
}
.wrapper .wrap-description img {
  margin-bottom: 50px;
}
.wrapper .wrap-description .heading {
  margin-bottom: 18px;
  letter-spacing: 0.01em;
  line-height: 36px;
  color: #040d14;
  font-size: 28px;
  font-weight: 900;
}
.wrapper .wrap-description .info {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 28px;
}
.wrapper .wrap-description .learn {
  color: #21ce99;
  font-weight: 900;
  text-decoration: none;
}

.no-manual-needed {
  max-width: 1192px;
  margin: 0 auto;
  height: 700px;
  background-image: url("../image/manual-need-image.png");
  background-repeat: no-repeat;
  background-position-x: -26px;
  background-position-y: 24px;
  background-size: 649px;
}
.no-manual-needed .manual-image {
  width: 500px;
}
.no-manual-needed .manual-need {
  float: right;
  width: 582px;
  text-align: left;
  margin-top: 261px;
  margin-right: 14px;
}
.no-manual-needed .manual-need .heading-of-manual {
  line-height: 49px;
  font-size: 46px;
  font-weight: bold;
  color: #040d14;
  margin-bottom: 27px;
  letter-spacing: -0.02em;
}
.no-manual-needed .manual-need .description-of-manual {
  font-weight: normal;
  font-size: 16px;
  margin-top: -2px;
  line-height: 26px;
  color: #010101;
}

.tabs {
  max-width: 1192px;
  margin: 0 auto;
  background-image: url("../image/tabs.png");
  background-repeat: no-repeat;
  background-position-x: 570px;
  height: 700px;
  background-position-y: 23px;
  background-size: 650px;
}
.tabs .tabs-image {
  width: 580px;
}
.tabs .tabs-description {
  padding-top: 249px;
  padding-left: 200px;
}
.tabs .tabs-description .keep-tabs {
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 49px;
}
.tabs .tabs-description .tabs-info {
  font-size: 16px;
  margin-top: 26px;
  line-height: 26px;
}

.parent-of-strategize {
  width: 100%;
  background-image: url("../image/strategize.png");
  background-repeat: no-repeat;
  background-position-x: -198px;
  background-position-y: -350px;
  background-color: #040d14;
  background-size: 1000px;
}
.parent-of-strategize .strategize-and-execute {
  max-width: 1192px;
  margin: 0 auto;
  height: 600px;
}
.parent-of-strategize .strategize-and-execute .execute {
  float: right;
  width: 582px;
  margin-right: 14px;
  color: #fff;
  margin-top: 142px;
  margin-bottom: 117px;
  text-align: left;
}
.parent-of-strategize .strategize-and-execute .execute .heading-of-execute {
  line-height: 37px;
  font-size: 46px;
  color: #fff;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 49px;
}
.parent-of-strategize .strategize-and-execute .execute .description-of-execute {
  font-weight: normal;
  line-height: 26px;
  font-size: 16px;
  margin-top: 35px;
}
.parent-of-strategize .strategize-and-execute .execute .button-staategize {
  background: linear-gradient(114.36deg, #956436 0%, #bc935e 100%);
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  border-radius: 36px;
  font-size: 17px;
  margin-right: 0px;
  width: 107px;
  height: 48px;
  margin-top: 37px;
  font-weight: 600;
  line-height: 17px;
}
.parent-of-strategize .strategize-and-execute .execute .robinhood-gold {
  color: #ddd;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.14px;
  line-height: 20px;
  margin-top: 35px;
}

.start {
  width: 100%;
  background: #21ce99;
  text-align: center;
}

.started {
  max-width: 1192px;
  margin: 0 auto;
  height: 461px;
}
.started .get-started {
  font-size: 46px;
  font-weight: bold;
  padding-top: 108px;
  letter-spacing: -0.02em;
  line-height: 49px;
}
.started .get-info {
  font-size: 16px;
  padding-top: 36px;
  line-height: 26px;
}
.started .button-started {
  background: #ffffff;
  cursor: pointer;
  color: #21ce99;
  border: none;
  outline: none;
  border-radius: 36px;
  font-size: 16px;
  width: 107px;
  height: 48px;
  margin-top: 60px;
  font-weight: 600;
}

.footer {
  max-width: 1192px;
  margin: 0 auto;
  text-align: center;
}
.footer .links {
  padding-top: 44px;
  font-size: 0;
}
.footer .links svg {
  margin: 0 9px;
}
.footer .links svg:nth-child(4) {
  padding-top: 1px;
}
.footer .footer-description {
  display: flex;
  margin-top: 40px;
  padding-bottom: 100px;
}
.footer .footer-description a {
  color: #21ce99;
  font-weight: 500;
  text-decoration: none;
}
.footer .footer-description p {
  color: #a7aaac;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: 16px;
}
.footer .footer-description .first {
  width: 45%;
  text-align: left;
  margin: -5px 12px;
}
.footer .footer-description .second {
  width: 45%;
  text-align: left;
  margin: -5px 24px;
}

/*# sourceMappingURL=index.css.map */
