.invest {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  background-image: url("../image/mobile.png");
  background-repeat: no-repeat;
  background-position-x: 400px;
  height: 812px;
  background-position-y: 72px;
  background-color: #ffff;

  .free-info {
    width: 310px;
    .invest-free {
      padding-top: 302px;
      color: #040d14;
      font-size: 46px;
      font-weight: bold;
      letter-spacing: -0.02em;
      line-height: 49px;
    }
    .invest-info {
      padding-top: 36px;
      font-size: 16px;
      line-height: 26px;
    }

    .button-Invest {
      background: #21ce99;
      cursor: pointer;
      color: rgb(255, 255, 255);
      align-items: center;
      border: none;
      outline: none;
      border-radius: 36px;
      font-size: 17px;
      font-weight: 600;
      height: 48px;
      width: 107px;
      margin-top: 36px;
    }
  }
  .mobile-image {
    width: 700px;
    padding-top: 92px;
  }
}
