.no-manual-needed {
  max-width: $desktop-width;
  margin: 0 auto;
  height: 700px;
  background-image: url("../image/manual-need-image.png");
  background-repeat: no-repeat;
  background-position-x: -26px;
  background-position-y: 24px;
  background-size: 649px;

  .manual-image {
    width: 500px;
  }

  .manual-need {
    float: right;
    width: 582px;
    text-align: left;
    margin-top: 261px;
    margin-right: 14px;

    .heading-of-manual {
      line-height: 49px;
      font-size: 46px;
      font-weight: bold;
      color: #040d14;
      margin-bottom: 27px;
      letter-spacing: -0.02em;
    }
    .description-of-manual {
      font-weight: normal;
      font-size: 16px;
      margin-top: -2px;
      line-height: 26px;
      color: #010101;
    }
  }
}
