.no-manual-needed {
  max-width: $desktop-width;
  margin: 0 auto;
  height: 700px;
  background-image: url("../image/manual-need-image.png");
  background-repeat: no-repeat;
  background-position-x: -26px;
  background-position-y: 11px;
  background-size: 650px;

  .manual-image {
    width: 500px;
  }

  .manual-need {
    float: right;
    width: 582px;
    text-align: left;
    margin-top: 173px;

    .heading-of-manual {
      line-height: 37px;
      font-size: 46px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 27px;
    }
    .description-of-manual {
      font-weight: normal;
      font-size: 16px;
      margin-top: 30px;
      line-height: 30px;
      color: #010101;
    }
  }
}
