.strategize-and-execute {
  max-width: $desktop-width;
  margin: 0 auto;
  background-image: url("../image/manual-need.png");
  background-repeat: no-repeat;
  background-position-x: left;
  height: 700px;

  .execute {
    float: right;
    width: 582px;
    margin-right: 61px;
    margin-top: 200px;
    margin-bottom: 117px;
    text-align: left;
    .heading-of-execute {
      line-height: 37px;
      font-size: 45px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 27px;
    }
    .description-of-execute {
      font-weight: normal;
      line-height: 23px;
      font-size: 19px;
      color: #4f4f4f;
    }
  }
}
