.tabs {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  // background-image: url("../image/tabs.png");
  // background-repeat: no-repeat;
  // background-position-x: right;
  height: 670px;
  .tabs-image {
    width: 580px;
  }

  .tabs-description {
    .keep-tabs {
      font-size: 45px;
      font-weight: 600;
      margin-top: 225px;
    }
    .tabs-info {
      font-size: 20px;
      margin-top: 30px;
      line-height: 30px;
    }
  }
}
