.tabs {
  max-width: $desktop-width;
  margin: 0 auto;
  background-image: url("../image/tabs.png");
  background-repeat: no-repeat;
  background-position-x: 570px;
  height: 700px;
  background-position-y: 23px;
  background-size: 650px;
  .tabs-image {
    width: 580px;
  }

  .tabs-description {
    padding-top: 249px;
    padding-left: 200px;
    .keep-tabs {
      font-size: 46px;
      font-weight: 600;
      letter-spacing: -0.02em;
      line-height: 49px;
    }
    .tabs-info {
      font-size: 16px;
      margin-top: 26px;
      line-height: 26px;
    }
  }
}
