.wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 450px;

  .wrap-description {
    width: 210px;

    img {
      margin-bottom: 50px;
    }
    .heading {
      margin-bottom: 18px;
      letter-spacing: 0.01em;
      line-height: 36px;
      color: #040d14;
      font-size: 28px;
      font-weight: 900;
    }
    .info {
      font-size: 16px;
      line-height: 26px;
      padding-bottom: 28px;
    }
    .learn {
      color: #21ce99;
      font-weight: 900;
      text-decoration: none;
    }
  }
}
